/* fontst 'Montserrat' */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* fonts */
:root {
	--red: #FF4C34;
	--black: #1E1E1E;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	color: var(--black);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: 1.2;
}

button:focus,
textarea:focus,
select:focus {
	outline: none !important;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input:focus {
	outline: none !important;
}

a {
	display: inline-block;
	text-decoration: none;
	line-height: 1.2;
}

a,
img,
input,
span,
button,
svg {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.wrapper {
	overflow: hidden;
}

.btn {
	background: #FF4C34;
	border-radius: 15px;
	padding: 12px 20px;
	border: none;
	color: white;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
}

.active {
	display: block !important;
}

/* header start */
.header {
	padding: 26px 0 26px 0;
}

.header .header-search input {
	width: 351px;
	border: 1px solid var(--red);
	border-radius: 15px;
	padding: 11px 30px 11px 47px;
	position: relative;
	z-index: 1;
}

.header .header-search input::placeholder {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #8D8D8D;
}

.header .header-search .search-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 16px;
	z-index: 10;
}

.header .header-search .btn {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
	padding: 12px;
	line-height: 17px;
}

.header .header-language {
	cursor: pointer;
}

.header .header-language__box {
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	right: 0;
	width: 148px;
	background: #FFFFFF;
	box-shadow: 1px 3px 6px 2px rgba(138, 138, 138, 0.25);
	border-radius: 15px;
	padding: 0 12px;
	z-index: 100;
}

.header .header-language__box li {
	position: relative;
	padding: 10px 0;
	cursor: pointer;
}

.header .header-language__box li::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border: 0.25px solid var(--black);
	width: 100%;
	z-index: 10;
}

.header .header-language__box li:last-child::before {
	border: none;
}

/* header end */

/* first product category start */
.first-products__category .first-product__content,
.first-products__category .two-product__content,
.first-products__category .three-product__content {
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 15px;
	padding: 16px;
	height: 100%;
}

.first-products__category .first-product__content {
	background-image: url(../images/product-category-bg1.svg);
}

.first-products__category .two-product__content {
	background-image: url(../images/product-category-bg2.svg);
}

.first-products__category .first-product__info h2 {
	line-height: 29px;
}

.first-products__category .first-product__info {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
}

.first-products__category .three-product__content {
	background-image: url(../images/product-category-bg3.svg);
}

.first-product__box {
	width: 100%;
	height: 100%;
}

.first-product__box .three-product__content-img2 {
	z-index: 10;
	top: 62px;
	left: -15px;
}

.first-product__box .three-product__content-img1 {
	z-index: 10;
	top: 0;
	left: 0;
}

/* first product categorystart */

/* sorting-bar start */
.sorting-bar {
	margin: 64px 0 85px 0;
}

.sorting-bar .sorting-bar__content {
	background: var(--red);
	border-radius: 15px;
	padding: 12px 8px;
}

.sorting-bar .sorting-bar__link {
	padding: 8px 16px;
	margin: 0 7px;
	border-radius: 15px;
}

.sorting-bar .sorting-bar__link:hover {
	background: #fff;
	color: var(--black);
}

.sorting-bar .sorting-active {
	background: #fff;
	color: var(--black);
}

.sorting-bar .select-box,
.sorting-bar .setting-box {
	border: 1px solid #FFFFFF;
	border-radius: 15px;
	padding: 8px 16px;
}

/* sorting-bar end */